@media only screen and (max-width: 1023px) {
   .navbar-item , .navbar-link{
    color: black !important;
   }

   .navbar-link:not(.is-arrowless)::after {
    border-top: 3px solid;
    border-right: 3px solid;
    border-left: 0;
    border-bottom: 0;
   }
}

.navbar{
	background: black;
}
div.navbar-dropdown:hover + div.navbar-link{
  color: black;
}
.navbar-item{
	color: white;
}
.is-white{
	color: white;
}
.is-black{
  color: black; 
}

.section{
	margin-top: 4em;
	padding-left: 4em;
	padding-right: 4em;
}

.header-size{
	font-size: 4.5rem;
}





/*.hero-body{*/
/*	padding-left: 0;
	padding-right: 0;
}

.backgn-img{
	opacity: 0.5;

}

.backgn-container{
	background: black ;
}

.main-img{
  	box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	position: absolute;
	top: -5%;
}*/